RESEND_API_KEY=
CREDENTIALS_EMAIL_FROM="JeevaDrishti 360 <onboarding@resend.dev>"

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_WHATSAPP_FROM=

FAST2SMS_API_KEY=
